.spell-item:hover {
  display: block;
  background: #86BEDA;
}

div.spell-cd {
  margin-bottom: 10px;
  margin-top: 5px;
}

.spell-cd-item {
  margin-right: 5px;
  text-align: center;
}

.spell-cd-bottom-border {
  border: 2px solid black;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-top: 2px;
}

select.spell-cd-attr {
  width: 65px;
}

input.spell-cd-extra {
  width: 35px;
}

input.spell-cd-total {
  width: 30px;
}