ul, #tormenta20_book_content {
  list-style-type: none;
}

#tormenta20_book_content {
  margin: 15px 0 0 15px;
  padding: 0;
}

.tormenta20-book-folder {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.tormenta20-book-folder::before {
  content: "\2795";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.tormenta20-book-folder-open::before {
  content: "\2796";
}

.tormenta20-book-nested-folder {
  display: none;
}

.tormenta20-book-active-folder {
  display: inline-block;
  width: 100%;
}

.tormenta20-book-row {
  display: flex;
  flex-direction: row;
}

.tormenta20-book-chat-icon {
  align-self: center;
  font-size: 18px;
  cursor: pointer;
}

.tormenta20-book-chat-icon a:hover {
  text-decoration: none;
}

.tormenta20-book-item-name {
  width: 100%;
}

.dd-item.tormenta20-book-row {
  display: flex;
}